<h1>Nuevo Proyecto</h1>
<form method='get' action='/pages/create'>

    <div class='form-group'>    
        <label for="project_name">Nombre del proyecto:</label> 
        <input name="project_name" class="form-control" placeholder="Ingresa el nombre del proyecto">
    </div>

    <div class='form-group'>    
    <label for="description">Descripciòn:</label> 
        <textarea name='description' type='number' class="form-control" placeholder="Ingresa la descripcion"></textarea>
    </div>

    <div class='form-group'>    
    <label for="start_date">Fecha de inicio:</label>  
        <input name='start_date' class="form-control" placeholder="ingresa la fecha - EJ: DD/MM/AA">
    </div>

    <div class='form-group'>    
    <label for="end_date">Fecha de finalizacion:</label>  
        <input name='end_date' class="form-control" placeholder="ingresa la fecha - EJ: DD/MM/AA">
    </div>

    <div class='form-group'>    
    <label for="status">Porcentaje de avance:</label>  
        <input name='status' class="form-control" placeholder="Ingresa el porcentaje de avance - EJ: 100%">
    </div>

    <div class='form-group'>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>